ItsATrap/.idea/libraries/bolts.xml
ItsATrap/app/app.iml
ItsATrap/app/src/main/res/values/strings.xml
ItsATrap/libraries/facebook/build/bundles/debug/AndroidManifest.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_button_blue.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_button_check.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_loginbutton_silver.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_picker_item_background.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_picker_list_selector.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_picker_list_selector_background_transition.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_picker_top_button.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_top_background.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_top_button.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/drawable/com_facebook_usersettingsfragment_background_gradient.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_friendpickerfragment.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_login_activity_layout.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_picker_activity_circle_row.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_picker_checkbox.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_picker_image.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_picker_list_row.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_picker_list_section_header.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_picker_search_box.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_picker_title_bar.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_picker_title_bar_stub.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_placepickerfragment.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_placepickerfragment_list_row.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_search_bar_layout.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_tooltip_bubble.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/layout/com_facebook_usersettingsfragment.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/values-es/values.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/values-hdpi/values.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/values-he/values.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/values-iw/values.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/values-ldpi/values.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/values-mdpi/values.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/values-xhdpi/values.xml
ItsATrap/libraries/facebook/build/bundles/debug/res/values/values.xml
ItsATrap/libraries/facebook/build/bundles/release/AndroidManifest.xml
ItsATrap/libraries/facebook/build/bundles/release/classes.jar
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_button_blue.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_button_check.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_loginbutton_silver.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_picker_item_background.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_picker_list_selector.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_picker_list_selector_background_transition.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_picker_top_button.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_top_background.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_top_button.xml
ItsATrap/libraries/facebook/build/bundles/release/res/drawable/com_facebook_usersettingsfragment_background_gradient.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_friendpickerfragment.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_login_activity_layout.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_picker_activity_circle_row.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_picker_checkbox.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_picker_image.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_picker_list_row.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_picker_list_section_header.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_picker_search_box.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_picker_title_bar.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_picker_title_bar_stub.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_placepickerfragment.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_placepickerfragment_list_row.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_search_bar_layout.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_tooltip_bubble.xml
ItsATrap/libraries/facebook/build/bundles/release/res/layout/com_facebook_usersettingsfragment.xml
ItsATrap/libraries/facebook/build/bundles/release/res/values-es/values.xml
ItsATrap/libraries/facebook/build/bundles/release/res/values-hdpi/values.xml
ItsATrap/libraries/facebook/build/bundles/release/res/values-he/values.xml
ItsATrap/libraries/facebook/build/bundles/release/res/values-iw/values.xml
ItsATrap/libraries/facebook/build/bundles/release/res/values-ldpi/values.xml
ItsATrap/libraries/facebook/build/bundles/release/res/values-mdpi/values.xml
ItsATrap/libraries/facebook/build/bundles/release/res/values-xhdpi/values.xml
ItsATrap/libraries/facebook/build/bundles/release/res/values/values.xml
ItsATrap/libraries/facebook/build/classes/release/com/facebook/android/Facebook.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/android/R.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/android/Util.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/AppEventsLogger$3.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/AppEventsLogger$AccessTokenAppIdPair.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/AppEventsLogger$AppEvent.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/AppEventsLogger$SessionEventsState.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/AppEventsLogger.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/AppLinkData.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/AuthorizationClient$AuthHandler.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/AuthorizationClient$GetTokenAuthHandler.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/FacebookRequestError.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/internal/FileLruCache.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/internal/ImageDownloader.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/internal/ImageRequest.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/internal/Logger.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/internal/NativeProtocol.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/internal/PlatformServiceClient.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/internal/Utility.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/internal/Validate.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/model/GraphObject$Factory$GraphObjectListImpl.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/model/GraphObject$Factory.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/model/JsonUtil.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/NativeAppCallAttachmentStore.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/ProgressNoopOutputStream.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/ProgressOutputStream.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/Request$4.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/Request$Serializer.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/Request.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/Response.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/Session.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/Settings.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/SharedPreferencesTokenCachingStrategy.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/TestSession.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/FacebookDialog$OpenGraphDialogBuilderBase.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/FacebookDialog.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/FriendPickerFragment$ImmediateLoadingStrategy.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/FriendPickerFragment.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/GraphObjectAdapter.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/GraphObjectPagingLoader.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/LoginButton$LoginClickListener.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/LoginButton.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/PickerFragment$MultiSelectionStrategy.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/PickerFragment$SingleSelectionStrategy.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/PickerFragment.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/PlacePickerFragment$3.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/PlacePickerFragment$AsNeededLoadingStrategy.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/PlacePickerFragment$SearchTextWatcher.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/PlacePickerFragment.class
ItsATrap/libraries/facebook/build/classes/release/com/facebook/widget/ProfilePictureView.class
ItsATrap/libraries/facebook/build/incremental/mergeAssets/debug/merger.xml
ItsATrap/libraries/facebook/build/incremental/mergeAssets/release/merger.xml
ItsATrap/libraries/facebook/build/incremental/packageResources/debug/merger.xml
ItsATrap/libraries/facebook/build/incremental/packageResources/release/merger.xml
ItsATrap/libraries/facebook/build/libs/facebook.aar
